<div class="main-div">
  <p-card header="Sign-In">

    <div style="padding-top: 10px">
      <span class="p-float-label">
        <input pInputText id="username" />
        <label for="username">Username</label>
      </span>
    </div>

    <div style="margin-top: 30px">
      <span class="p-float-label">
        <p-password  [feedback]="false"></p-password>
        <label for="password">Password</label>
    </span>
    </div>
    <div class="submit-button">
      <p-button label="login"></p-button>

    </div>




  </p-card>
</div>
